@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

:root {
  --gradient-01: linear-gradient(90deg, darkblue, red);
  --gradient-02: linear-gradient(45deg,
      #845ec2,
      #d65db1,
      #ff6f91,
      #ff9671,
      #ffc75f,
      #f9f871);
  --dark: #00bd9d;
  --light: #8bd7d2;
  --white: #fffbfa;
  --image: url(./grass.webp);

  --ff-ss: 'Merriweather Sans', sans-serif;
  --ff-s: 'Merriweather', serif;
  --fc: var(var(--dark));

  /* section padding */
  --sec-pad: 150px 0;
  --mv: 800px;
  --v: 90%;
  --gap: 2rem;
}

html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.6;
}

main {
  width: min(65ch, 100% - 4rem);
  margin-inline: auto;
}

.display-text {
  /* display: block; */
  font-family: 'Luckiest Guy', cursive;
  font-size: 6rem;
  text-align: center;
  background-image: var(--image);
  background-size: cover;
  background-clip: text;
  color: transparent;
}


img,
picture,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

h3 {
  background-image: var(--gradient-02);
  background-size: 400%;
  background-clip: text;
  color: transparent;
  animation: grad-animation 5s infinite alternate;
}

@keyframes grad-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.gradient-text {
  /* background-image: linear-gradient(90deg, red, darkblue); */
  background-image: var(--gradient-01);
  background-clip: text;
  color: transparent;
}

.quotes-section {
  text-align: center;
  margin-inline: auto;
  margin: 4rem 0;
  background: var(--dark-gradient);
}

.quotes {
  position: relative;
  isolation: isolate;
  padding: 0.25rem 2rem;
  margin: 2rem;

}

.quotes::before {
  content: open-quote;
  font-family: serif;
  font-weight: 900;
  font-size: 15rem;
  color: #dadada;
  position: absolute;
  z-index: -1;
  top: -8.5rem;
  left: -2.5rem;
}

.quotes::after {
  content: no-close-quote;
}

.quotes p {
  font-style: italic;
}