html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.6;
}

main {
  width: min(65ch, 100% - 4rem);
  margin-inline: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

.gradient-text {
  background-image:
    linear-gradient(90deg, red, darkblue);
  background-clip: text;
  color: transparent;
}

.quotes-section {
  text-align: center;
  margin-inline: auto;
  margin: 4rem 0;
  background: var(--dark-gradient);
}

.quotes {
  position: relative;
  isolation: isolate;
  padding: 0.25rem 2rem;
  margin: 2rem;

}

.quotes::before {
  content: open-quote;
  font-family: serif;
  font-weight: 900;
  font-size: 15rem;
  color: #dadada;
  position: absolute;
  z-index: -1;
  top: -8.5rem;
  left: -2.5rem;
}

.quotes::after {
  content: no-close-quote;
}

.quotes p {
  font-style: italic;
}